

.sub {
    padding: 5px;
  }
  
  .sub1 {
    padding: 15px 0;
    font-size: 27px;
  }
  
  .foot {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
  }
  
  .dark{
    background-color: black;
    color: white;
  }
  
  li{
    padding: 5px;
  }

  .footertype{
    border-radius: 5px;
       height: 45px;
  }
  
  .subtext{
    font-size: 32px;
  }

  
  ul {
    list-style: none;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    /* border-top: 1px solid #606060; */
    padding: 40px 40px;
    background-color: black;
    color: white;
    
  }

 .svg{
  padding-right: 10px;
 }
  
  .footerlist {
    display: flex;
    justify-content: space-around;
    text-align: left;
    font-size: 16px ;
    padding: 0 40px;
   
  }
  
  .footerdown {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    padding-bottom: 40px;
    border-top: 1px solid #606060;
  }
  
  .footerddown {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 20px;
  }
  
  .listed {
    padding-left: 20px;
    font-size: 16px;
   
  }
  
  .list-heading {
    padding: 5px 0px;
    font-size: 14px;
    padding-bottom: 35px;
  }
  
  .info {
    padding-top: 20px;
    font-size: 16px;
  }
  
  .footercontent {
    display: flex;
    justify-content: space-between;
  }
  
  .icon {
    padding-bottom: 5px;
    display: flex;
  }
  
  .icon-type {
    /* padding: 5px 0; */
    font-size: 14px;
  }
  
  .iconImg {
    height: 20px;
    width: 20px;
  }