.header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
  }
  
  .second {
    display: flex;
    justify-content: space-around;
      }
  
  .subSecond {
    padding: 0 20px;
    font-size: 18px;
    padding-top:25px ;
  }
  .link{
    text-decoration: none;
    color:black
}

.search{
  padding-top: 15px;
}