.btn {
    padding: 13px 13px;
    border-color: black;
    border-radius: 8px;
    font-size: 16px;
  }
  
  .green {
    background-color: #48a928;
    border-style: none;
    color: white;
  }
  
  .green1 {
    background-color: #48a928;
    border-style: none;
    color: white;
    box-shadow: -1px 1px 56px 1px rgba(72, 169, 40, 0.41);
  }
  
  
  
  .links {
    text-decoration: none;
    color: black;
  }
  
  .linkButton {
    text-decoration: none;
    color: white;
  }