.faq{
    text-align: center;
    padding: 20px;
}

.headings{
    padding-bottom: 20px;
}



.link{
    text-decoration: none;
    color: #48a928;
}

.writeupHeading{
    color:#48a928;
    padding: 5px;
}

.accordion {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: solid 1px rgba(226, 224, 224, 0);
    outline: none;
}