@font-face {
  font-family: 'TT Hoves';
  src:url('./font/TTHoves-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "TT Hoves";
  src:url("./font/TTHoves-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}


* {
  box-sizing: border-box;
  margin: 0;
  font-family: "TT Hoves";
  
}
body {
  /* background-color: #fafafa; */
  font-size: 18px;
}



